.mat-sort-header-container {
    display:flex;
    justify-content:center;
  }
  mat-header-cell {
    display:flex;
    justify-content:flex-end;
   }
   table {
       width: 100%;
   }

  .header-field {
    background-color: #e4eef2;
    font-size: 14px;
    font-weight: 700;
    color: #0d165a;
  }

  .tab-header {
    font-size: 14px;
    font-weight: 700;
    color: #0d165a;
  }